.slide-d {
  opacity: 0;
  transform: translate3d(200px, 0, 0);
  transition: 1s;
}
.slide-d-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.slide-e {
  opacity: 0;
  transform: translate3d(-200px, 0, 0);
  transition: 1s;
}
.slide-e-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
