h1{
  font-family: 'Kanit', sans-serif;
text-transform: uppercase;
font-size: 500%;

}
/* BOTOES MENU*/
.menu1{
    cursor: pointer; 
    height: 40px;
    font-weight: 500;
    width: 150px;
}
.menu2{
    cursor: pointer; 
    height: 40px;
    font-weight: 500;
    width: 100px;
}
.btn-camp{
    border: 0px;
    background-color: #ffffff;
}
.btn-camp:focus{
    outline: 0px;
}
.selecionado{
    background-color: #b90b13;
    border-radius: 16px;
    color: #ffffff;
}
/*MUDAR DE BOX*/
.box1{
    width: 100%;
}
.box2{
    width: 100%;
}
.ativo{
    
}
.desativo{
    display: none;
}
/*CARD INFOS  */
.infoheader{
    background-color: #b90b13;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px 0px 0px ;
    margin-top: 50px;
}
.infoheader p{
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 3px;
}
.infoheader i{
    margin-top: 5px;
    font-size: 16px;
}

.infos h4{
  font-family: 'Kanit', sans-serif;
    font-weight: 700;
}
.infos p {
    margin-bottom: 0px;
}

/*TABELAS*/
.mytable thead{
    color: #ffffff;
    background-color: #b90b13;
} 
@media (max-width: 576px){
    .col2 img{
        display: none;
    }
}
.jogos{
  font-family: 'Kanit', sans-serif;
  margin-top: 30px;
  
}
/*CANCEELADO*/
.canceladobox img{
  margin-top: 10px;
  width: 100%;
  
}



