@font-face {
  font-family: thelight;
  src: url(../fonts/TheLightFont.otf);
}
html body {
  overflow-x: hidden;
}
.bold{
  font-weight: 700;
}
.desativo{
  display: none;
}
/* NAV PERSONALIZADA */
.banner{
  background-image: url(../paginas/home/teste5.jpg);
  height: 100px;
  background-position: center;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.9);
}
.banner button{
  float: right;
  margin-top: 25px;
  font-size: 40px;
}
.banner button:focus{
  outline: none;
}
.mynav{
  height: 64px;
}
/* LOGO DA NAVBAR*/
.logo{
  height: 150px;
}
.banner img:hover{
  cursor: pointer;
}
/*NAVBAR TOGGLE*/
@media (max-width: 1199px){
  .boxnavbig {
    display: none;
  }
}
.boxnavsmall{
  margin-top: 50px;
  display: none;
  height: 300px;
}

@media (min-width: 1200px){
  .navsm{
    display: none;
  }
}
@media (max-width: 770px){
  .boxnavsmall{
    margin-top: 50px;
  }
}
main{
  margin-top: 90px;
}

/* ITENS DA NAVBAR*/
.nav-link {
  text-transform: uppercase;
  color: #101010;
  font-size: large;
  font-family: 'Kanit', sans-serif;
}
.nav-link:hover {
  text-transform: uppercase;
  color: #b90b13;
  font-size: large;
  font-family: 'Kanit', sans-serif;
}
.btndrop{
  text-transform: uppercase;
  color: #101010;
  font-size: large;
  font-family: 'Kanit', sans-serif;
}
.btndrop:hover{
  text-transform: uppercase;
  color: #b90b13;
  font-size: large;
  font-family: 'Kanit', sans-serif;
}
.dropdown a:hover{
  color: #b90b13;
}
.btn:focus {
  outline: 0;
   box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.0); 
}
.dropdown-item{
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
}
/*MAIN*/
.titulo {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: 100;
  color: black;
  margin-top: 50px;
}
.subtitulo {
  font-family: 'Kanit', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
}
/* INICIO CSS FOOTER */
/*FOOTER PT-1*/
.footer1 {
  margin-bottom: -1px;
  background-image: url(../paginas/footer/fundo.png);
  width: 100vw;
  height: 800px;
  background-size: cover;
}
/* IMAGEM DO PLAYBOK*/
.footer1 img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
}
/*  ANIMAÇAO IMAGEM DO PLAYBOK*/
@media (max-width: 1023px) {
  .footer1  {
    display: none;
  }
}
/*FOOTER PT-2*/
.footer2 {
  width: 100vw;
  height: 120px;
  padding-top: 20px;
  background-color: black;
  align-items: center;
  text-align: center;
}
.footer2 a {
  color: black;
}
/*PATROCINIOS */
.footer2 img {
  height: 50px;
  padding: 5px 20px;
}
@media (max-width: 550px) {
  .footer2 img {
    height: 40px;
    padding: 5px 20px;
  }
}
/*ANIMAÇAO PATROCINIO*/
.aniptr {
  transition: transform 0.2s;
}
.aniptr:hover {
  transform: scale(1.2);
}
/*FOOTER PT-3*/
.footer3 {
  background-color: black;
  width: 100vw;
}
/*TITULOS*/
.footertitulo {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}
/*SUB TITULOS*/
.footersub {
  margin-top: 30px;
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 100;
}
/*ICONES MIDIAS*/
.midias {
  margin-top: 60px;
  margin-bottom: 60px;
}
.midias a {
  padding-left: 20px;
}
/*ANIMAÇAO MIDIA*/
.icon {
  transition:  0.2s;
}
.icon:hover {
  transform: scale(1.2);
}
/*CONTATOS FOOTER*/
.footertell {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100;
}
.footeremail {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: -10px;
  text-transform: uppercase;
  font-weight: 100;
}
/*FOOTER PT-4*/
.footer4 {
  background-color: #101010;
  width: 101vw;
  height: 50px;
  color: #c7c7c7;
  justify-content: center;
  padding-top: 10px;
}
/*FINAL DO FOOTER*/
.animefooter {
  opacity: 0;
  transform: translate3d(700px, 0, 0);
  transition: 1s;
}

.animefooter-start {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.btncontatos{
  font-family: 'Kanit', sans-serif;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px;
}
.btncontatos:hover{
  font-family: 'Kanit', sans-serif;
  background-color: #000000;
  color: #b90b13;
  border: 1px solid #b90b13;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 10px;
}

