/*TITULOS*/
.titulo{
  margin-top: -50px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  font-size: 500%;

}
 h2{
  font-size: 50px;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-style: italic;
}
/* BOTOES MENU*/
.menu1{
  cursor: pointer; 
  height: 40px;
  font-weight: 500;
  width: 100px;
}
.menu2{
  cursor: pointer; 
  height: 40px;
  font-weight: 500;
  width: 100px;
}
.menu3{
  cursor: pointer; 
  height: 40px;
  font-weight: 500;
  width: 100px;
}
.btn-camp{
  border: 0px;
  background-color: #ffffff;
}
.btn-camp:focus{
  outline: 0px;
}
.selecionado{
  background-color: #b90b13;
  border-radius: 16px;
  color: #ffffff;
}
/*MUDAR DE BOX*/
.box2{
  width: 100%;
}
.ativo{

}
.desativo{
  display: none;
}
/*FOTOS*/
.divgaleria{
  overflow: hidden;
  height: 800px;
}
.fotos{
  overflow: hidden;
  float: left;
  height: 25%;
  width: 25%;
  border: 1px solid white;
}
.fotos img{
  height: 200px;
  transition: ease-in-out 0.5s;

}
.fotos img:hover{
  transform: scale(1.1);
  
}
/*FOTOS NO CELULAR*/
@media (max-width: 1199px) {
  .fotos {
    width: 33%; 
  }
@media (max-width: 764px) {
  .fotos {
     width: 50%; 
  }
@media (max-width: 576px) {
  .fotos {
    width: 100%; 
  }
@media (max-width: 576px) {
  .fotos img{
    width: 100%;
    height: auto;
  }
}
